/* Landing page Header css */
.landing-header {
  background-image: url("../images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  padding: 180px 0px 0px 0px;
}

.landing-header p {
  font-size: 20px;
  color: #222222;
  font-weight: 300;
  letter-spacing: 2px;
}

.landing-header h2 {
  font-size: 52px;
  color: #222222;
  letter-spacing: 2px;
  margin-top: -17px;
  margin-bottom: -2px;
}

.landing-header a {
  padding: 22px 16px 22px;
  background-color: #000000;
  margin-top: 60px;
  color: #fff;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.landing-header span {
  margin-left: 80px;
}

.landing-header .try-button {
  margin-top: 60px;
}

.landing-header img {
  margin-top: -7px;
}

/* Landing page Works Section css */
.landing-works {
  padding: 70px 0px 70px 0px;
}

.landing-works h2 {
  font-size: 20px;
}

.landing-works .row {
  background-color: #f5f5f5;
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.landing-works p {
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
}

.landing-works a {
  padding: 15px 15px 15px;
  background-color: #000000;
  margin-top: 60px;
  color: #fff;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  display: none;
}

/* Landing page Seo Section css */
.landing-seo {
  background-image: url("../images/pattern.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0px 60px 0px;
  background-color: #e4e1e1;
}

.landing-seo .seo-dec {
  background-color: #e7c4bd;
  padding: 32px 40px;
  width: 620px;
  margin-top: 80px;
  z-index: 1;
  position: absolute;
}

.landing-seo .seo-dec span {
  font-size: 14px;
  font-weight: 300;
}

.landing-seo .seo-dec h2 {
  font-size: 28px;
}

.landing-seo .seo-dec p {
  font-size: 16px;
  font-weight: 300;
}

/* result Page css */
.result-header {
  background-color: #f5f5f5;
  padding: 60px 0px;
}

.result-header i {
  color: #727272;
  font-size: 40px;
  margin-bottom: 15px;
}

.result-header h2 {
  font-size: 20px;
}

.result-header h3 {
  font-size: 16px;
}

.product-box {
  background-color: #fff;
  padding: 10px;
  text-align: left !important;
}

.product-box img {
  width: 100%;
  margin-bottom: 15px;
}

.product-box p {
  font-size: 14px;
  font-weight: 300;
}

.product-box s {
  font-size: 12px;
  font-weight: 300;
}

.product-box b {
  font-size: 16px;
}

.product-box i {
  font-size: 14px;
  margin-bottom: 5px;
  color: #75939e;
}

.product-box h6 {
  font-size: 12px;
}

.product-box span {
  background-color: #e4d092;
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
}

.product-box h5 {
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background-color: #000;
  padding: 5px;
  width: 28%;
  z-index: 3;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}

.product-box .match-img {
  margin-top: -38px;
}

.product-button {
  border: 2px solid #75939e;
  font-size: 14px;
  font-weight: 300;
  color: #75939e !important;
  height: 48px;
  padding-top: 10px;
  width: 235px;
  margin-top: 10px;
  text-align: center !important;
  text-decoration: none !important;
}

.best-match {
  background-color: #e4d092;
}

.best-match i {
  color: #fff;
}

.best-match span {
  background-color: #fff;
}

.best-match .product-button {
  border: 2px solid #000;
  color: #000 !important;
}

.carousel {
  display: none;
}

.progress {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  height: 10px !important;
}

.progress-bar {
  background-color: #75939e;
}

.app-header-top {
  background-color: #75939e;
  height: 32px;
}

.app-header-top p {
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  padding-top: 8px;
}

.app-header {
  padding: 20px 0px 20px 0px;
  -webkit-box-shadow: 5px 5px #8888881f;
          box-shadow: 5px 5px #8888881f;
}

.app-header .cross-icon {
  height: 20px;
  margin-top: 16px;
}

.client-data {
  padding: 50px 0px 50px 0px;
}

.client-data img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.client-data p {
  font-size: 16px;
  font-weight: 300;
}

.client-data .form-check {
  background-color: #f5f5f5;
  padding: 15px 40px;
  border-radius: 8px;
  margin-top: 10px;
  text-align: left;
  width: 382px;
  left: 33%;
  font-weight: 500;
}

.client-data a {
  color: #fff;
  text-decoration: none;
}

.client-data .text-field {
  width: 380px;
  padding: 12px 16px;
  border-radius: 8px;
  border: solid 1px #dddddd;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 300;
}

.next-button {
  background-color: #dddddd;
  height: 48px;
  padding-top: 10px;
  width: 380px;
  margin-top: 30px;
}

.grey {
  background-color: #dddddd !important;
}

.black {
  background-color: #000 !important;
}

.search-input {
  width: 380px;
  height: 56px;
  padding-left: 30px;
  border-radius: 8px;
  border: solid 1px #dddddd;
  font-size: 14px;
  font-weight: 300;
}

.select-product {
  background-color: #f5f5f5;
  width: 380px;
  margin-left: 364px;
  text-align: left;
}

.select-product .cross-img {
  width: 15px;
  height: 15px;
  margin-top: 25px;
  margin-left: 10px;
}

.select-product h6 {
  font-size: 14px;
  padding-top: 15px;
}

.select-product span {
  font-size: 14px;
  font-weight: 300;
}

.price-box {
  background-color: #f5f5f5;
  width: 380px;
  margin-left: 364px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.price-box h6 {
  font-size: 14px;
}

.price-box span {
  font-size: 14px;
  font-weight: 300;
}

/* Price range css */
.middle {
  width: 37%;
  margin-left: 347px;
  margin-top: 30px;
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}

.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #dddddd;
}

.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #75939e;
}

.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(182, 180, 185, 0.1);
          box-shadow: 0 0 0 0 rgba(182, 180, 185, 0.1);
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.slider > .thumb.left {
  left: 25%;
  -webkit-transform: translate(-15px, -10px);
          transform: translate(-15px, -10px);
}

.slider > .thumb.right {
  right: 25%;
  -webkit-transform: translate(15px, -10px);
          transform: translate(15px, -10px);
}

.slider > .thumb.hover {
  -webkit-box-shadow: 0 0 0 20px rgba(165, 163, 168, 0.1);
          box-shadow: 0 0 0 20px rgba(165, 163, 168, 0.1);
}

.slider > .thumb.active {
  -webkit-box-shadow: 0 0 0 40px rgba(182, 179, 185, 0.2);
          box-shadow: 0 0 0 40px rgba(182, 179, 185, 0.2);
}

input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  opacity: 0;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}

/* fragrens css */
.frang-border1 {
  border: solid 1px #75939e;
}

.frang-border2 {
  border: solid 1px #75939e;
}

.frang-border3 {
  border: solid 1px #75939e;
}

.fragrance-box {
  height: 197px;
  padding: 16px 16px 14px;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.fragrance-box img {
  width: 306px;
  height: 131px;
  border-radius: 4.6px;
  margin-bottom: 15px;
}

.step-button2 {
  border: 2px solid #000;
  font-size: 14px;
  font-weight: 300;
  color: #000 !important;
  height: 48px;
  padding-top: 10px;
  width: 380px;
  margin-top: 20px;
  text-decoration: none !important;
}

.result-button {
  border: 2px solid #000;
  font-size: 14px;
  font-weight: 300;
  color: #000 !important;
  height: 48px;
  padding-top: 10px;
  width: 380px;
  margin-top: 20px;
  text-decoration: none !important;
}

@media only screen and (max-width: 500px) {
  .landing-header {
    height: 340px;
    padding: 80px 0px 0px 0px;
    text-align: center;
  }
  .landing-header p {
    font-size: 12px;
  }
  .landing-header h2 {
    font-size: 22px;
  }
  .landing-header span {
    margin-left: 80px;
  }
  .landing-header .try-button {
    margin-top: 60px;
  }
  .landing-header img {
    margin-top: -7px;
  }
  .landing-works {
    padding: 30px 0px 70px 0px;
  }
  .landing-works .row {
    padding: 25px;
    width: 345px;
    margin-left: 0px;
    margin-bottom: 57px;
  }
  .landing-works a {
    display: block;
  }
  .landing-seo .seo-dec {
    background-color: #e7c4bd;
    padding: 60px 40px;
    width: 375px;
    margin-top: 220px;
    margin-left: -15px;
    z-index: 1;
    position: absolute;
  }
  .landing-seo img {
    width: 344px;
    z-index: 10;
    position: inherit;
  }
  .icon-box {
    border-left: 1px solid #dddddd;
  }
  .app-header {
    padding: 0px 0px 0px 0px;
  }
  .app-header .logo-box {
    padding: 10px 0px 10px 0px;
  }
  .app-header img {
    height: 34px;
  }
  .form-check {
    width: 350px !important;
    left: 0% !important;
  }
  .next-button {
    width: 350px !important;
  }
  .text-field {
    width: 350px !important;
  }
  .search-input {
    width: 350px !important;
  }
  .select-product {
    width: 350px !important;
    margin-left: 0px !important;
  }
  .price-box {
    width: 350px !important;
    margin-left: 0px !important;
  }
  .middle {
    width: 103% !important;
    margin-left: 0px !important;
  }
  .fragrance-box img {
    width: 125px !important;
    height: 100px !important;
  }
  .fragrance-box {
    height: 170px !important;
  }
  .step-button2 {
    width: 350px !important;
  }
  .product-box {
    margin-bottom: 20px;
  }
  .product-button {
    width: 290px !important;
  }
  .result-button {
    width: 342px !important;
    float: left !important;
  }
  .result-header h2 {
    font-size: 16px;
  }
  .result-header h3 {
    font-size: 8px;
  }
  .carousel {
    display: block;
  }
  .product-row {
    display: none;
  }
  .app-header-top p {
    text-align: center !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 585px) {
  .client-data .form-check {
    left: 22% !important;
  }
}
/*# sourceMappingURL=style.css.map */